body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    height: 100%; /* footer */
    max-width: 1920px;
    margin: 0 auto; /* footer */
    display: flex; /* footer */
    flex-direction: column; /* footer */
}

html {
    height: 100%; /* footer */
    margin: 0 auto; /* footer */
  }

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    flex: 1; /* footer */
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    flex-shrink: 0; /* footer */
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
footer .footer_img {
    width: 5rem;
}